//base
@import "base/variables";
//libs
@import "libs/bootstrap-reboot.min";
//blocks
@import "blocks/header";

.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
