//base
@import "base/variables";
//libs
@import "libs/bootstrap-reboot.min";
//blocks
@import "blocks/header";
@import "blocks/promo";
@import "blocks/about";
@import "blocks/services";
@import "blocks/works";
@import "blocks/pricing";
@import "blocks/media";
.container {
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.title{
  font-weight: bold;
  text-align: center;
  font-size: 1.9rem;
}

.subtitle{
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 28px;
}


