@media (max-width: 1200px){
  .header{
    &__logo{
      font-size: 20px;
    }
    &__menu{
      margin-left: 7rem;
    }
    &__menu-link{
      font-size: 15px;
    }
  }
}

@media (max-width: 991px){
  .header{
    &__menu{
      margin-left: 5rem;
    }
  }
}

@media(max-width: 767px) {
  
}


