@media (max-width: 1200px){
  .header{
    &__logo{
      font-size: 20px;
    }
    &__menu{
      margin-left: 7rem;
    }
    &__menu-link{
      font-size: 15px;
    }
  }
  .slick-list{
    margin: 0;
  }
}

@media (max-width: 991px){
  .header{
    &__menu{
      margin-left: auto;
    }
  }
  .works{
    &__tab{
      width: 150px;
      font-size: 0.9rem;
    }
    &__item{
      width: 300px;
      height: 300px;
    }
  }
  .pricing{
    &__items{
      flex-direction: column;
      align-items: center;
    }
    &__item{
      margin-bottom: 25px;
    }
  }

  .carousel{
    &__items{
      align-items: center;
      justify-content: center;
    }
    &__inner{
      img{
        display: block;
        margin: 0 auto;
      }
    }
  }
  .slick-list{
    margin: 0;
  }

  .contact{
    &__input{
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 767px){
 .header{
   &__menu{
     display: none;
     position: fixed;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     top: -10%;
     left: -100%;
     right: 50%;
     width: 50%;
     height: 100vh;
     padding: 20px 15px;
     background-color: rgba(0,0,0, .8);
     transition: 0.6s all;
     &-active{
       left: -10%;
       display: flex;
     }
     &-item{
       padding-right: 0;
       border: none;
       margin: 10px 0;
     }
     &-link{
       font-size: 20px;
       color:white;
     }
   }
 }
  .hamburger{
    display: block !important;
    position: absolute;
    right: 10px;
    top: 6%;
    border: 0;
    transform: translateY(-50%);
    width: 26px;
    height: 12px;
    span{
      display: block;
      height: 2px;
      width: 100%;
      color: black;
      background-color: black;
      margin-bottom: 2px;
      transition: 0.5s all;
    }
    &-active{
      span{
        margin-bottom: -2px;
        &:nth-child(1) {
          transform: translateY(3px) rotate(-45deg);
          color: black;
        }
        &:nth-child(2) {
          display: none;
          color: black;
        }
        &:nth-child(3) {
          transform: translateY(3px) rotate(45deg);
          color: black;
        }
      }
    }
  }
  .services{
    &__items{
      justify-content: center;
    }
  }
  .blog{
    &__item{
      margin-bottom: 25px;
      flex-direction: column;
      &:nth-child(2){
        flex-direction: column;
      }
    }
    &__description{
      width: 100%;
      text-align: center;
      margin-left: 100px;
    }
  }
}

@media (max-width: 500px){
  .header{
    &__menu{
      width: 70%;
      &-item{
        padding-left: 100px;
      }
    }
  }
  .promo{
    &__title{
      font-size: 40px;
    }
    &__btn{
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
  .about{
    &__items{
      flex-direction: column;
    }
    &__item{
      margin-bottom: 30px;
    }
  }
  .works{
    &__tabs{
      flex-direction: column;
    }
    &__tab{
      width: 150px;
      font-size: 10px;
      margin-bottom: 15px;
    }
  }
  .blog{
    &__description{
      margin-left: 0;
    }
  }
  .pricing{
    &__item{
      width: auto;
    }
  }
  .carousel{
    &__inner{
      div{
        img{
          width: 100%;
        }
      }
    }
    &__item{
      margin-right: 0;
    }
  }
  .contact{
    &__items{
      flex-direction: column;
      align-items: center;
    }
    &__item{
      margin-bottom: 30px;
    }
    &__input{
      width: 300px;
    }
  }
  .footer{
    &__title{
      font-size: 15px;
    }
  }
}
