
.promo{
  padding: 135px 0px 72px 0px;
  min-height: 800px;
  background: url('../img/headerbackground.jpg') center (center / cover) no-repeat;
  font-family: "Open Sans Semibold",sans-serif;
  &__title{
    font-size: 60px;
    color: white;
    text-align: center;
  }
  &__subtitle{
    color: white;
    font-size: 22px;
    text-align: center;
    margin-top: 25px;
  }
  &__buttons{
    margin-top: 112px;
    text-align: center;
  }
  &__btn{
    font-family: "Robot - Bold",sans-serif;
    font-size: 20px;
    color:white;
    background-color: transparent;
    border: 3px solid white;
    padding: 25px 40px;
    text-transform: uppercase;
    margin-right: 30px;
    &:hover{
      background-color: $green;
      border: 3px solid $green;
    }
  }
  &__icons{
    display: block;
    margin: 0 auto;
    margin-top: 220px;
    text-align: center;
  }
}
