.works {
  padding: $margintitle 0;

  &__tabs {
    margin-top: 70px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
  }

  &__tab {
    font-family: "Open Sans Semibold",sans-serif;
    width: 220px;
    height: 50px;
    border: 3px solid $green;
    color: $green;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 48px;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.5s all;
    &-active {
      color: #fff;
      background-color: $green;
      border: 3px solid $green;
    }

    &:hover {
      background-color: $green;
      color: white;
    }
  }
  &__items{
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 120px;
    &-active {
      display: flex;
    }
  }
  &__img{
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    &-1{
      background: url('../img/products/product_1.png') center (center / cover) no-repeat;
    }
    &-2{
      background: url('../img/products/product_2.png') center (center / cover) no-repeat;
    }
    &-3{
      background: url('../img/products/product_3.png') center (center / cover) no-repeat;
    }
    &-4{
      background: url('../img/products/product_4.png') center (center / cover) no-repeat;
    }
    &-5{
      background: url('../img/products/product_5.png') center (center / cover) no-repeat;
    }
    &-6{
      background: url('../img/products/product_6.png') center (center / cover) no-repeat;
    }
    &-title{
      color: white;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      padding-top: 40%;
      background-color: rgba(0,0,0,0.5);
      opacity: 0;
      transition: opacity .5s;
    }
    &-subtitle{
      color: white;
      position: absolute;
      text-align: center;
      left: 0;
      padding-top: 50%;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity .5s;
    }
    &:hover{
      background-color: black;
      .works__img-title{
        opacity: 1;
      }
      .works__img-subtitle{
        opacity: 1;
      }
    }
  }
  &__item{
    position: relative;
    width: 360px;
    height: 360px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
